.equals {
    display: grid;
    width: 100%;
    height: calc(100% - 110px);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .equals:hover {
    background-color: rgb(15, 228, 26);
  }